.content {
    margin: 0 80px;
    padding: 40px 82px 51px 43px;
    max-width: 1743px;
    background-color: #ffff;
    display: flex;
    border: 1px solid #C5C5C5
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .content {
        margin: 0;
        padding: 0;
        min-width: 360px;
        max-width: 768px;
        overflow: hidden;
    }
}
    