.content__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.13px;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .content__title {
        margin-bottom: 4px;
        font-size: 17px;
        line-height: 21px;
    }
}